.flex{
    display: flex;
    display: -webkit-flex;
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
}
/*美化滚动条*/
::-webkit-scrollbar {width: 4px;}
/* 滚动条的滑轨背景颜色 */
::-webkit-scrollbar-track {background: rgba(255, 255, 255, 0.5);}
/* 滑块颜色 */
::-webkit-scrollbar-thumb {background: rgba(0,0,0,.3);border-radius: 4px;}
/* 滑轨两头的监听按钮颜色 */
::-webkit-scrollbar-button {background: rgba(0,0,0,0);}
/* 横向滚动条和纵向滚动条相交处尖角的颜色 */
::-webkit-scrollbar-corner {background-color: black;}
.main{
    background: url('../images/snow-1.jpg') no-repeat center/cover;
    height:100vh;
    overflow: hidden;
}
.go-main{
    position: absolute;
    top: 67%;
    right: 10%;
}
.go-main p{
    font-size:25px;
    color: #333;
    line-height: 60px;
    user-select: none;
    -webkit-user-select: none;
    background-image: -webkit-linear-gradient(left, #333, #333 5%,#fff 10%, #333 15%, #333);
    background-size: 200%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-animation: mask 3s infinite;
}
@-webkit-keyframes mask {
    0%  { background-position: 0 0;}
    100% { background-position: -100% 0;}
}
.menu{
    position: absolute;
    top:0;
    left:0;
    z-index: 10;
}
.menu .menu-list{
    display: flex;
    display: -webkit-flex;
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    margin:50px 0 0 50px;
}
.menu li {
    padding:10px 20px;
    flex:0 0 auto;
    position: relative;
}
.menu li:hover{
    box-shadow: 0 0 3px 1px #fff;
}
.menu li:hover a{
    color: #fff;

}
.menu li a{
    font-size: 16px;
    color:#000;
    position: relative;
    z-index: 1;
}
.music-menu li a{
    color:#fff;
}
.music-menu li a:hover{
    color:#c4ffa6;
}
.menu li::before, .menu li::after {
    box-sizing: border-box;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
}
.menu li::before, .menu li::after {
    border: 2px solid transparent;
    width: 0;
    height: 0;
}
.menu li::before {
    top: 0;
    left: 0;
}
.menu li::after {
    bottom: 0;
    right: 0;
}
.menu li:hover{
    color: #fff;
}
.menu li:hover::before,.menu li:hover::after {
    width: 100%;
    height: 100%;
}
.menu li:hover::before {
    border-top-color: #fff;
    border-right-color: #fff;
    -webkit-transition: width 0.2s ease-out 0.1s, height 0.1s ease-out 0.3s;
    transition: width 0.2s ease-out 0.1s, height 0.1s ease-out 0.3s;
}
.menu li:hover::after {
    border-bottom-color: #fff;
    border-left-color: #fff;
    -webkit-transition: border-color 0s ease-out 0.3s, width 0.2s ease-out 0.4s, height 0.1s ease-out 0.6s;
    transition: border-color 0s ease-out 0.3s, width 0.2s ease-out 0.4s, height 0.1s ease-out 0.6s;
}

/*我的信息*/
.info-wrapper{
    position: relative;
    background: url('../images/snow-2.jpg') no-repeat center/cover;
    height: 100vh;
    overflow-y: -webkit-paged-x;
}
.info-wrapper .container{
   position: absolute;
    top:0;
    left:0;
    width:100%;
}
.info-wrapper .flex{
    position: relative;
    background: rgba(0,0,0,0.7);
    height:100vh;
    flex-direction: column;
    justify-content: center;
    color:#fff;
}
.info-wrapper .info-head .content{
    text-align: center;
}
.info-wrapper .info-head img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 0 10px 2px #fff;
    margin-left:-50px;
    opacity:0;
}
.info-wrapper .info-head.animate img{
    opacity:1;
    margin-left:0;
    transition: all 1s;
}
.info-wrapper .info-head .text{
    display: inline-block;
    height: 130px;
    line-height:25px;
    vertical-align: top;
    border-left:1px solid #fff;
    margin-left: 100px;
    padding-left: 60px;
    padding-top: 20px;
}
.info-wrapper .info-head.animate .name{
    margin-left: 0;
    opacity:1;
    transition: all 1s;
}
.info-head .name{
    margin-left: 100px;
    opacity: 0;
    margin-bottom:20px;
}
.info-head .name span:first-child{
    font-size:24px;
    margin-right:15px;
}
/*基本资料*/
.info-wrapper .base{
    background: rgba(0,0,0,0.6);
}
.info-wrapper .base .title{
    font-size:26px;
    font-weight: 600;
    text-align: center;
    margin:0 50px;
    margin-bottom:100px;
    opacity: 0;
    transform: scale(0.1);
}
.info-wrapper .base.animate .title{
    opacity: 1;
    transform: scale(1) rotate(360deg);
    transition: all 1s;
}
.info-wrapper .base .title:hover{
    transform: skew(10deg);
    /*color:#ff0;*/
    transition: all 1s;
}
.info-wrapper .base-text{
    display: flex;
    justify-content: space-around;
}
.info-wrapper .base-text li{
    font-size:16px;
    line-height:26px;
    list-style: circle;
}
.info-wrapper .base-text ul{
    margin-top:30px;
    opacity: 0;
}
.info-wrapper .base-text li:hover{
    color: #417fbf;
}
.info-wrapper .animate .base-text ul{
    margin-top:0;
    opacity: 1;
    transition: all 0.5s 1s;
}
.info-wrapper .animate .base-text ul:nth-child(2){
    transition: all 0.5s  1.5s;
}
.info-wrapper .animate .base-text ul:nth-child(3){
    transition: all 0.5s 2s;
}

.info-wrapper .pic{
    background: rgba(0,0,0,0.5);
}
.info-wrapper .favo{
    background: rgba(0,0,0,0.4);
}
.info-wrapper .want-say{
    background: rgba(0,0,0,0.3);
}
.info-wrapper .pic .title{
    font-size:24px;
    margin-bottom:50px;
    transform: translateY(50px);
    text-align: center;
    opacity: 0;
}
.info-wrapper .pic.animate .title{
    opacity: 1;
    transform: translateY(0);
    margin-bottom:50px;
    transition: all 2s;
}
#wrap{
    width:120px;
    height:180px;
    margin:150px auto;
    position: relative;
    transform-style: preserve-3d;
    transform: perspective(800px) rotateY(0deg) rotateX(-10deg);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#wrap img{
    width:120px;
    height:180px;
    position: absolute;
    border-radius: 3px;
    box-shadow: 0 0 5px #fff;
    -webkit-box-reflect:below 5px -webkit-linear-gradient(transparent,transparent 60%,rgba(0,0,0,.2));
}
.want-say  .title{
    font-size: 30px;
    text-align: center;
    margin-bottom: 80px;
    margin-top:-100px;
    opacity: 0;
}
.want-say.animate  .title{
    margin-top:0;
    opacity: 1;
    transition: all 1s;
}
.want-say  .base-text{
    display: block;
    font-size:18px;
    line-height:30px;
    text-align: center;
    margin-right:200px;
    opacity: 0;
}
.want-say  .base-text p{
    margin-bottom:30px;
 }
.want-say.animate  .base-text{
    opacity: 1;
    margin-right:0;
    transition: all 1s 1s;
}
.want-say img{
    transform: rotate(0) scale(0.2);
    opacity: 0;
}
.want-say.animate img{
    transform: rotate(360deg) scale(1);
    opacity: 1;
    transition: all 0.5s 2s;
}
/*右侧按钮*/
.page-menu{
    position: absolute;
    top:50%;
    right:30px;
}
.page-menu li{
    height:30px;
    min-width: 82px;
    text-align: right;
}
.page-menu li .circle{
    display: inline-block;
    width:5px;
    height:5px;
    border-radius: 50%;
    background: #fff;
}
.page-menu li .text{
    display: inline-block;
    opacity:0;
    font-size:12px;
    color:#fff;
    margin-right: 10px;
    vertical-align: text-bottom;
}
.page-menu li:hover .circle{
   transform: scale(1.8);
    transition: all 0.5s;
}
.page-menu li:hover .text,.page-menu li.active .text{
    opacity:0.8;
    transition: all 1s;
}
.page-menu li.active .circle{
    transform: scale(2.2);
    transition: all 0.5s;
}
/*心情*/
.heart{
    height: 100vh;
    background: url(../images/abc.jpg) no-repeat center/cover;
    overflow: hidden;
}
.heart-wrapper{
    width:70%;
    margin:150px auto;
    overflow: auto;
    height: 70vh;
}
.heart-wrapper .h-title{
    font-size: 26px;
    font-weight: normal;
    padding-bottom: 10px;
    border-bottom:1px solid #bbb;
}
.heart-wrapper .heart-content article{
    padding-top:30px;
    margin-left:10px;
}
.heart-content .title .time{
    display: inline-block;
    font-size:30px;
    margin-right:20px;
    margin-bottom:10px;
    color:#484675;
}
.heart-content .title .toNow{
    font-size:14px;
    color:#333;
}
.heart-content .title .address{
    font-size:14px;
    color:#333;
}
.heart-content .content .text{
    width:60%;
    font-size:18px;
    line-height: 30px;
    color: #333;
    border-bottom:1px solid #eee;
}
.heart-content .content .img-list{
    padding:20px 0 ;
}
.heart-content .content .img-list img{
    flex: 0 0 150px;
    width:150px;
    height:150px;
    margin-right:10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
/*技术站*/
.skil .menu-list li:hover a{
color:#007fff
}
.skil{
    background: url(../images/snow-2.jpg) no-repeat center/cover;
    height:100vh;
}
.skil-wrapper{
    width:50%;
    margin: 120px auto;
}
.skil-wrapper .skil-title{
   background: rgba(255,255,255,0.7);
}
.skil-wrapper .skil-title span.active{
    color:#268fdc;
}
.skil-wrapper .skil-title span{
    display: inline-block;
    padding:10px 25px;
    cursor:pointer;
    color:#333;
}
.skil-wrapper .skil-content article{
    padding:40px 20px;
    background: rgba(255,255,255,.5);
    border-bottom: 1px solid #fff;
}
.skil-wrapper .skil-content article:hover{
    background: rgba(255,255,255,.3);
}
.skil-content .title{
    margin-bottom: 10px;
}
.skil-content .title .text{
    font-size:22px;
    font-weight: 700;
    display: inline-block;
    margin-right:20px;
    cursor:pointer;
}
.skil-content .title .text:hover{
    text-decoration: underline;
}
.skil-content .title .date{
    font-size:16px;
}
.skil-content .content{
    font-size:14px;
    color:#666;
    line-height: 20px;
    word-break: break-all;
}
/*callme*/
.call{
    background: url(../images/snow-1.jpg) no-repeat center/cover;
}
.call .flex{
    flex-direction: column;
    justify-content: center;
    height:100vh;
    background: rgba(0,0,0,.3);
    color:#fff;
}
.call-wrapper .content{
    width:40%;
    margin:0 auto;
    text-align: center;
}
.call-wrapper .content .text{
    font-size:24px;
    line-height:45px;
}
.call-wrapper .content .text{
    display: inline;
}
.call-wrapper .content .pointer{
    display: inline-block;
    font-size:24px;
    animation: shark 0.5s ease infinite alternate;
}
@keyframes shark {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
.call-wrapper .content .bottom.active img{
    opacity:1 ;
    transform: rotate(360deg) scale(1);
    transition: all 0.5s;
}
.call-wrapper .content .bottom.active .link{
    opacity:1 ;
    transition: all 0.5s 3s;
}
.call-wrapper .content img{
   opacity:0;
    transform:rotate(0) scale(0.5);
    margin-top:30px;
}
.call-wrapper .content .link{
    opacity: 0;
    font-size:18px;
    color:#18ff6c;
    margin-top:100px;
    cursor: pointer;
}
.call-wrapper .copy{
    display: none;
    opacity: 0;
    width:50%;
    margin:0 auto;
    text-align: center;
}
.call-wrapper .copy .line-item{
    margin-bottom:20px;
}
.copy .line-item label{
    display: inline-block;
    width:90px;
    height:35px;
    line-height: 35px;
    text-align: right;
    font-size:16px;
    color:#9ae40a;

}
.copy .line-item input{
    width:200px;
    height:35px;
    line-height: 35px;
    font-size:16px;
    color:#39a793;
    border:1px solid #666;
    outline:none;
    border-radius: 5px;
    padding:0 10px;
    background: rgba(255,255,255,0.5);
}
.copy .line-item textarea{
    width:200px;
    min-height:50px;
    line-height: 20px;
    font-size:16px;
    color:#39a793;
    border:1px solid #666;
    outline:none;
    border-radius: 5px;
    padding:10px;
    background: rgba(255,255,255,0.5);
    vertical-align: middle;
}
/* self-music */
.s-music-body{

}
.bg-mask,.bg-player{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
.bg-mask{
    background-color: rgba(0,0,0,.35);
    z-index: 2;
}
.bg-player{
    /* display: none; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    -webkit-filter: blur(65px);
    filter: blur(65px);
    opacity: .6;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    background-image: url(../self-music/images/albumBg.jpg);
}
.mod-player{
    position: relative;
    height:100vh;
    margin:0 6%;
    z-index: 3;
}
.mod-player .player-header{
    position: absolute;
    top:11%;
    width:100%;
    font-size: 30px;
    font-weight: bold;
    height: 40px;
    text-align: center;
}
.player-content{
    position: absolute;
    top: 17%;
    bottom: 18%;
    width: 100%;
    min-height: 328px;
    cursor: default;
}
.music-wraper .music-kind-head .music-kind-title{
    font-size:30px;
    margin:20px 0 20px 20px;
}
.music-wraper .menu-head{
justify-content: space-around;
}
.music-wraper .menu-head li{
    flex:0 1 150px;
    margin-bottom:40px;
    border:1px solid rgba(255,255,255,.2);
    text-align: center;
    height: 150px;
    cursor:pointer;
}
.music-wraper .menu-head li.active{
    color:#fff;
    border-color:#fff;
}
.music-wraper .song-list-content{
    display: none;
    overflow-x: hidden;
    overflow-y: auto;
}
.music-wraper .song-list-content .back-list{
    display: inline-block;
    margin: 10px 0  30px 20px;
    font-size: 22px;
}
.player-footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 11%;
}
.player-content .music-wraper{
    flex:1 1 60%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.player-content .music-lry{
    flex:1 1 40%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.song-list-content li:first-child{
    text-align: left;
    flex:1 1 50%;
    height:50px;
    line-height:50px;
    padding-left: 10%;
    border-top:1px solid rgba(255,255,255,0.1);
}
.song-list-content .song-list li:first-child{
    padding-left: 8%;
}
.song-list-content .song-list li:first-child span{
    margin-right:10px;
}
.song-list-content .song-item.bepaly li:first-child span{
    color:transparent;
    background: url(../images/wave.gif) no-repeat 0 0;
}
.song-list-content li:nth-child(2){
    text-align: left;
    flex:1 1 20%;
    height:50px;
    line-height:50px;
    border-top:1px solid rgba(255,255,255,0.1);
}
.song-list-content li:nth-child(3){
    text-align: left;
    flex:1 1 20%;
    height:50px;
    line-height:50px;
    border-top:1px solid rgba(255,255,255,0.1);
}
 .music-lry .song-lry-wrap{
     position: relative;
    height:400px;
     overflow: hidden;
    -webkit-mask-image: linear-gradient(to bottom,rgba(255,255,255,0) 0,rgba(255,255,255,.6) 15%,rgba(255,255,255,1) 25%,rgba(255,255,255,1) 75%,rgba(255,255,255,.6) 85%,rgba(255,255,255,0) 100%);
}
.music-lry .song-lry-wrap .lry-content{
    position: absolute;
    top:30%;
    width:100%;
}
.music-lry .song-lry-wrap .lry-content p{
    line-height: 30px;
}
.music-lry .song-lry-wrap .lry-content p.played{
    color:#9ae40a;
}
.music-lry .song-lry-info img{
    vertical-align: middle;
    margin-bottom: 15px;
}
.music-lry .song-lry-info p{
    height:24px;
    line-height: 24px;
}
.music-wraper .music-lry .song-lry-wrap p{
    line-height: 34px;
}
.player-footer .player-prev{
    position: absolute;
    top:4px;
    left:0;
    font-size: 36px;
}
.player-footer .player-play{
    position: absolute;
    top:0;
    left:5%;
    font-size: 40px;
}
.player-footer .player-next{
    position: absolute;
    top:4px;
    left:10%;
    font-size: 36px;
}
.player-footer .palyer-bar{
    position: absolute;
    top:0;
    left:15%;
    width:50%;
    height:40px;
    padding-top: 10px;
}
.player-footer .palyer-bar .bar-info{
    justify-content: space-between;
}
.player-footer .palyer-bar .bar-process{
    position: relative;
    width:100%;
}
.player-footer .palyer-bar .bar-process::before{
    content: "";
    position: absolute;
    top:10px;
    left:0;
    height:2px;
    width:100%;
    background-color: rgba(255,255,255,0.2);
}
.player-footer .palyer-bar .bar-process .ball{
    position: absolute;
    top:10px;
    left:0;
    height:2px;
    width:0;
    background-color: rgba(255,255,255,0.8);
}
.player-footer .palyer-bar .bar-process .ball::after{
    content: "";
    position: absolute;
    top:-3px;
    right:-5px;
    width: 10px;
    height: 10px;
    border-radius:50%;
    background-color: #fff;
}
.player-footer .player-volume{
    position: absolute;
    top: 15px;
    left: 66%;
    width: 10%;
    font-size: 20px;
}
.player-footer .player-volume .volume-process{
    position: relative;
    top:-20px;
    left:20px;
    height: 22px;
    cursor: pointer;
}
.player-footer .player-volume .volume-process::before{
    content: "";
    position: absolute;
    top:10px;
    left:0;
    height:2px;
    width:100%;
    background-color: rgba(255,255,255,0.2);
}
.player-footer .player-volume .volume-process .ball{
    position: absolute;
    top:10px;
    left:0;
    height:2px;
    width:50%;
    background-color: rgba(255,255,255,0.8);
}
.player-footer .player-volume .volume-process .ball::after{
    content: "";
    position: absolute;
    top:-5px;
    right:-5px;
    width: 10px;
    height: 10px;
    border-radius:50%;
    background-color: #fff;
}